---
import { useTranslations, type Locale } from "../i18n/index";
import LanguageIcon from "../icons/Language.astro";
import { fade } from "astro:transitions";

interface Props {
  currentLocale: Locale;
}

const { currentLocale } = Astro.props;
const t = useTranslations(currentLocale);

const otherLocale = currentLocale === "es" ? "en" : "es";
const otherLocalePath = currentLocale === "es" ? "/en" : "/es";
---

<header
  class="flex justify-center items-center py-6 mx-auto sticky top-0 w-full xl:w-[1120px] z-40">
  <nav
    class={`
      border border-black
      rounded-full px-3 py-2
      flex flex-row items-center
      bg-gray-200/10 dark:bg-black/50  backdrop-blur-2xl
      `}>
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href={`/${currentLocale}/#`}
      data-astro-reload
      >{t("nav.home")}
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href={`/${currentLocale}/#experience`}
      data-astro-reload>{t("nav.experience")}</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href={`/${currentLocale}/#projects`}
      data-astro-reload>{t("nav.projects")}</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href={`/${currentLocale}/#about`}
      data-astro-reload>{t("nav.about")}</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href={`/${currentLocale}/#`}
      data-astro-reload>{t("nav.contact")}</a
    >
    <a
      class="rounded-full px-3 transition hover:bg-white/10"
      href={otherLocalePath}
      transition:name="language-switcher"
      transition:animate={fade({ duration: "0.8s" })}
      ><LanguageIcon width="28" height="28" color="white" /></a
    >
  </nav>
</header>
